<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zhaoliufeng.mylab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NumTextView.NumTextViewActivity" />
        <activity android:name=".ItemMask.ItemMaskActivity" />
        <activity android:name=".lab.ViewLocationActivity" />
        <activity android:name=".DrawerPlusLayout.DrawerPlusActivity" />
        <activity android:name=".BootPage.BootPageActivity" />
        <activity android:name=".PayPwView.PayPwActivity" />
        <activity android:name=".Chart.ChartActivity" />
        <activity android:name=".lab.LabActivity" />
        <activity android:name=".lab.ViewDrawApiActivity" />
        <activity android:name=".DashBoardView.DashBoardActivity" />
        <activity android:name=".CustomButton.SwitchButtonActivity" />
        <activity android:name=".ColorPicker.ColorPickerActivity" />
        <activity android:name=".CustomSeekBar.SeekBarActivity" />
        <activity android:name=".ColorPicker.RingColorPickerActivity" />
        <activity android:name=".CoutomClickView.MulitClickActivity"/>
        <activity android:name=".lab.ShaderActivity"/>
    </application>

</manifest>