<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zhaoliufeng.mylab">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Default.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".lab.WidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.zhaoliufeng.mylab.lab.action.CLICK" />
            </intent-filter>
        </receiver>
        <activity android:name=".NumTextView.NumTextViewActivity" />
        <activity android:name=".ItemMask.ItemMaskActivity" />
        <activity android:name=".lab.ViewLocationActivity" />
        <activity android:name=".DrawerPlusLayout.DrawerPlusActivity" />
        <activity android:name=".BootPage.BootPageActivity" />
        <activity android:name=".PayPwView.PayPwActivity" />
        <activity android:name=".Chart.ChartActivity" />
        <activity android:name=".lab.LabActivity" />
        <activity android:name=".lab.ViewDrawApiActivity" />
        <activity android:name=".lab.BleActivity" />
        <activity android:name=".DashBoardView.DashBoardActivity" />
        <activity android:name=".CustomButton.SwitchButtonActivity" />
        <activity android:name=".ColorPicker.ColorPickerActivity" />
        <activity android:name=".CustomSeekBar.SeekBarActivity" />
        <activity android:name=".ColorPicker.RingColorPickerActivity" />
        <activity android:name=".CoutomClickView.MulitClickActivity" />
        <activity android:name=".lab.ShaderActivity" />
        <activity android:name=".CtmTimePicker.CtmTimePickerActivity" />
        <activity android:name=".TimeActivity" />
        <activity
            android:name=".MusicPlayer.MusicPlayActivity"
            android:label="@string/title_activity_music_paly"
            android:theme="@style/AppTheme" />
        <activity android:name=".RingProgressActivity" />
        <activity android:name=".WifiScanActivity" />
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".VideoActivity" />

        <service
            android:name=".MusicPlayer.PlayMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".APWifiActivity" />
        <activity android:name=".lab.WidgetProvider"></activity>
    </application>

</manifest>